[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
requests = "*"
python-telegram-bot = "*"
update = "*"
black = "*"
ics = "*"
cachetools = "*"

[requires]
python_version = "3.8"
